@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reliable Gun</h1>
    <p class="lead">
        Canada's Online and Instore Firearms Retail
    </p>
    <p class="lead">
        Rifles, Shotguns, Pistols, Optics, Ammunition, Knives, and all your Hunting and Shooting Sports Needs.
    </p>
    <p><a href="https://www.reliablegun.com/en/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<img src="https://www.reliablegun.com/content/images/thumbs/0076780.webp" class="intro-img"/>